#mainNav
{
	background-color: black;
	
	display: block;
	overflow: hidden;
	border: hidden;
}
a:hover
{
	text-decoration-color: yellow;
}
#sidebar-wrapper
{
	z-index: 1;
	position: absolute;
	width: 0;
	height: 100%;
	overflow-y: hidden;
	background-color: #2C3E50;
	border: 2px solid red;
	opacity: 0.9;
}

#page-content-wrapper
{
	width: 100%;
	position: absolute;
	padding: 15px;
	border: 5px solid green;

}

#wrapper.menuDisplayed #sidebar-wrapper
{
	width: 200px;

}

#wrapper.menuDisplayed #page-content-wrapper{
	padding-left: 250px;
}

.sidebar-nav
{
	padding: 0;
	list-style: none;
}

.sidebar-nav li
{
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a{
	display: block;
	text-decoration: none;
	color: #ddd;
}
.sidebar-nav li a:hover{
	background-color: red;
}
.menu-toggle{
	overflow: hidden;
}

#top-nav
{
	background-color: black;
}

#btn-submit a:hover
{
	background-color: yellow;
}